# Rust
/target/
**/*.rs.bk
Cargo.lock

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# javascript
node_modules/

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
