name: Benchmark

on:
  push:
    branches: [ "master", "main" ]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - 'docs/**'
      - '.gitignore'
  pull_request:
    branches: [ "master", "main" ]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - 'docs/**'
      - '.gitignore'

env:
  CARGO_TERM_COLOR: always

jobs:
  benchmark:
    name: Performance Track
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup-env

      - name: Run Benchmarks
        # Runs specific benchmark target to avoid passing args to unittests
        run: cargo bench -p vanity_wallet --bench benchmark -- --output-format bencher | tee benchmark_results.txt
      

